@model EventoModel
@{
    ViewData["Title"] = "detalhes";
    Layout = "~/Views/Shared/_LayoutSite.cshtml";
}

<h1>@Model.nome</h1>
<div class="col-md-6">
    <div class="card flex-md-row mb-4 shadow-sm h-md-250">
        <div class="card-body d-flex flex-column align-items-start">

            <h3 class="mb-0">
                <a class="text-dark" href="https://getbootstrap.com.br/docs/4.1/examples/blog/#">@Model.nome</a>
            </h3>
            <!--<div class="mb-1 text-muted">R$ </div>-->
            <p class="card-text mb-auto">Este é um card maior com suporte à texto, em baixo, como uma introdução mais natural ao conteúdo adicional.</p>
            <a href="~/HomeSite/comprar/@Model.id"
               class="btn btn-primary">
                Comprar
            </a>
        </div>
        <img class="card-img-right flex-auto d-none d-lg-block" style="width: 200px; height: 250px;" src="~/Imagens/@Model.cartaz" />
    </div>
</div>


