@model IEnumerable<EventoModel>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutSite.cshtml";
}




<div class="jumbotron p-3 p-md-5 text-white rounded bg-dark">
    <div class="col-md-6 px-0">
        <h1 class="display-4 font-italic">Título mais longo para um post destacado</h1>
        <p class="lead my-3">Várias linhas formando uma introdução, informando novos leitores rápido e eficientemente sobre o que é mais interessante, neste post.</p>
        <p class="lead mb-0"><a href="https://getbootstrap.com.br/docs/4.1/examples/blog/#" class="text-white font-weight-bold">Continue lendo...</a></p>
    </div>
</div>

<div class="row mb-2">
    @foreach (var item in Model)
    {


    <div class="col-md-6">
        <div class="card flex-md-row mb-4 shadow-sm h-md-250">
            <div class="card-body d-flex flex-column align-items-start">

                <h3 class="mb-0">
                    <a class="text-dark" href="https://getbootstrap.com.br/docs/4.1/examples/blog/#">@item.nome</a>
                </h3>
                <div class="mb-1 text-muted">R$ </div>
                <p class="card-text mb-auto">Este é um card maior com suporte à texto, em baixo, como uma introdução mais natural ao conteúdo adicional.</p>
                <a href="~/HomeSite/detalhes/@item.id"
                   class="btn btn-primary">
                    Comprar
                </a>
            </div>
            <img class="card-img-right flex-auto d-none d-lg-block"   style="width: 200px; height: 250px;" src="~/Imagens/@item.cartaz" />
        </div>
    </div>
    }
</div>
    </div>

<main role="main" class="container">
    <div class="row">
        <div class="col-md-8 blog-main">
            <h3 class="pb-3 mb-4 font-italic border-bottom">
                O dossiê!
            </h3>

            <div class="blog-post">
                <h2 class="blog-post-title">Exemplo de post</h2>
                <p class="blog-post-meta">Escrito por <a href="https://getbootstrap.com.br/docs/4.1/examples/blog/#">Mark</a>, em 1 de Janeiro de 2018.</p>

                <p>Este post mostra alguns diferentes tipos de conteúdos que são suportados e estilizados com Bootstrap. Tipografia básica, imagens e códigos são todos suportados.</p>
                <hr>
                <p>Cum sociis natoque penatibus et magnis <a href="https://getbootstrap.com.br/docs/4.1/examples/blog/#">dis parturient montes</a>, nascetur ridiculus mus. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Sed posuere consectetur est at lobortis. Cras mattis consectetur purus sit amet fermentum.</p>
                <blockquote>
                    <p>Curabitur blandit tempus porttitor. <strong>Nullam quis risus eget urna mollis</strong> ornare vel eu leo. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                </blockquote>
                <p>Etiam porta <em>sem malesuada magna</em> mollis euismod. Cras mattis consectetur purus sit amet fermentum. Aenean lacinia bibendum nulla sed consectetur.</p>
                <h2>Heading</h2>
                <p>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
                <h3>Sub-heading</h3>
                <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
                <pre><code>Example code block</code></pre>
                <p>Aenean lacinia bibendum nulla sed consectetur. Etiam porta sem malesuada magna mollis euismod. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa.</p>
                <h3>Sub-heading</h3>
                <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aenean lacinia bibendum nulla sed consectetur. Etiam porta sem malesuada magna mollis euismod. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
                <ul>
                    <li>Praesent commodo cursus magna, vel scelerisque nisl consectetur et.</li>
                    <li>Donec id elit non mi porta gravida at eget metus.</li>
                    <li>Nulla vitae elit libero, a pharetra augue.</li>
                </ul>
                <p>Donec ullamcorper nulla non metus auctor fringilla. Nulla vitae elit libero, a pharetra augue.</p>
                <ol>
                    <li>Vestibulum id ligula porta felis euismod semper.</li>
                    <li>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</li>
                    <li>Maecenas sed diam eget risus varius blandit sit amet non magna.</li>
                </ol>
                <p>Cras mattis consectetur purus sit amet fermentum. Sed posuere consectetur est at lobortis.</p>
            </div><!-- /.blog-post -->

            <div class="blog-post">
                <h2 class="blog-post-title">Outro post</h2>
                <p class="blog-post-meta">Escrito por <a href="https://getbootstrap.com.br/docs/4.1/examples/blog/#">Jacob</a>, em 23 de Dezembro de 2017.</p>

                <p>Cum sociis natoque penatibus et magnis <a href="https://getbootstrap.com.br/docs/4.1/examples/blog/#">dis parturient montes</a>, nascetur ridiculus mus. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Sed posuere consectetur est at lobortis. Cras mattis consectetur purus sit amet fermentum.</p>
                <blockquote>
                    <p>Curabitur blandit tempus porttitor. <strong>Nullam quis risus eget urna mollis</strong> ornare vel eu leo. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                </blockquote>
                <p>Etiam porta <em>sem malesuada magna</em> mollis euismod. Cras mattis consectetur purus sit amet fermentum. Aenean lacinia bibendum nulla sed consectetur.</p>
                <p>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
            </div><!-- /.blog-post -->

            <div class="blog-post">
                <h2 class="blog-post-title">Nova feature</h2>
                <p class="blog-post-meta">Escrito por <a href="https://getbootstrap.com.br/docs/4.1/examples/blog/#">Chris</a>, em 14 de Dezembro de 2017.</p>

                <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aenean lacinia bibendum nulla sed consectetur. Etiam porta sem malesuada magna mollis euismod. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
                <ul>
                    <li>Praesent commodo cursus magna, vel scelerisque nisl consectetur et.</li>
                    <li>Donec id elit non mi porta gravida at eget metus.</li>
                    <li>Nulla vitae elit libero, a pharetra augue.</li>
                </ul>
                <p>Etiam porta <em>sem malesuada magna</em> mollis euismod. Cras mattis consectetur purus sit amet fermentum. Aenean lacinia bibendum nulla sed consectetur.</p>
                <p>Donec ullamcorper nulla non metus auctor fringilla. Nulla vitae elit libero, a pharetra augue.</p>
            </div><!-- /.blog-post -->

            <nav class="blog-pagination">
                <a class="btn btn-outline-primary" href="https://getbootstrap.com.br/docs/4.1/examples/blog/#">Mais antigos</a>
                <a class="btn btn-outline-secondary disabled" href="https://getbootstrap.com.br/docs/4.1/examples/blog/#">Mais novos</a>
            </nav>

        </div><!-- /.blog-main -->

        <aside class="col-md-4 blog-sidebar">
            <div class="p-3 mb-3 bg-light rounded">
                <h4 class="font-italic">Sobre</h4>
                <p class="mb-0">Etiam porta <em>sem malesuada magna</em> mollis euismod. Cras mattis consectetur purus sit amet fermentum. Aenean lacinia bibendum nulla sed consectetur.</p>
            </div>

            <div class="p-3">
                <h4 class="font-italic">Arquivos</h4>
                <ol class="list-unstyled mb-0">
                    <li><a href="https://getbootstrap.com.br/docs/4.1/examples/blog/#">Março de 2018</a></li>
                    <li><a href="https://getbootstrap.com.br/docs/4.1/examples/blog/#">Fevereiro de 2018</a></li>
                    <li><a href="https://getbootstrap.com.br/docs/4.1/examples/blog/#">Janeiro de 2018</a></li>
                    <li><a href="https://getbootstrap.com.br/docs/4.1/examples/blog/#">Dezembro de 2017</a></li>
                    <li><a href="https://getbootstrap.com.br/docs/4.1/examples/blog/#">Novembro de 2017</a></li>
                    <li><a href="https://getbootstrap.com.br/docs/4.1/examples/blog/#">Outubro de 2017</a></li>
                    <li><a href="https://getbootstrap.com.br/docs/4.1/examples/blog/#">Setembro de 2017</a></li>
                    <li><a href="https://getbootstrap.com.br/docs/4.1/examples/blog/#">Agosto de 2017</a></li>
                    <li><a href="https://getbootstrap.com.br/docs/4.1/examples/blog/#">Julho de 2017</a></li>
                    <li><a href="https://getbootstrap.com.br/docs/4.1/examples/blog/#">Junho de 2017</a></li>
                    <li><a href="https://getbootstrap.com.br/docs/4.1/examples/blog/#">Maio de 2017</a></li>
                    <li><a href="https://getbootstrap.com.br/docs/4.1/examples/blog/#">Abril de 2017</a></li>
                </ol>
            </div>

            <div class="p-3">
                <h4 class="font-italic">Onde nos encontrar, por aí:</h4>
                <ol class="list-unstyled">
                    <li><a href="https://getbootstrap.com.br/docs/4.1/examples/blog/#">GitHub</a></li>
                    <li><a href="https://getbootstrap.com.br/docs/4.1/examples/blog/#">Twitter</a></li>
                    <li><a href="https://getbootstrap.com.br/docs/4.1/examples/blog/#">Facebook</a></li>
                </ol>
            </div>
        </aside><!-- /.blog-sidebar -->

    </div><!-- /.row -->

</main><!-- /.container -->
