﻿@model IEnumerable<AtorModel>
@{
    ViewData["Title"] = "listar";
}

<h1>listar</h1>

<span class="alert @ViewBag.classe">@ViewBag.mensagem</span>

<script>

function confirmExclusao(id) {
   if (confirm("Tem certeza que deseja excluir esse ator?")) {

       location.href ="/ator/delete/" + id;

   }
}
</script>

<a href="~/ator/cad/@ViewBag.eventoId" class="btn btn-info">
    Novo
</a>


<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Código</th>
            <th scope="col">Nome</th>
            <th scope="col">Idade</th>
            <th scope="col">Papel</th>
            <th scope="col">Foto</th>
            <th scope="col">Evento</th>
            <th scope="col">Alterar</th>
            <th scope="col">Excluir</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <th scope="row">@item.id</th>
                <td>@item.nome</td>
                <td>@item.idade</td>
                <td>@item.papel</td>
                <td>
                  <img src="~/Atores/@item.foto" class="rounded-circle" height="40" width="40" asp-append-version="true" />
                </td>
                <td></td>
                <td>
                    <a href="~/ator/change/@item.id" class="btn btn-primary">
                        Alterar
                    </a>
                </td>
                <td>
                    <a href="#" class="btn btn-primary" onclick="confirmExclusao(@item.id)">
                        Excluir
                    </a>
                </td>
            </tr>
        }


    </tbody>
</table>


