﻿@model EventoModel
@{
    ViewData["Title"] = "cadastro";
}

<h1>cadastro</h1>

<form asp-action="save" asp-controller="Evento" method="post">
    <div class="row">
        <div class="col-12 form-group">
            <label asp-for="id"></label>
            <input readonly type="text" asp-for="id" class="form-control" />
            <span asp-validation-for="id" class="alert-danger"></span>
        </div>
        <div class="col-12 form-group">
            <label asp-for="nome"></label>
            <input type="text" asp-for="nome" class="form-control" />
            <span asp-validation-for="nome" class="alert-danger"></span>
        </div>
        <div class="col-12 form-group">
            <label asp-for="duracao"></label>
            <input type="text" asp-for="duracao" class="form-control" />
            <span asp-validation-for="duracao" class="alert-danger"></span>
        </div>
        <div class="col-12 form-group">
            <label asp-for="restricao_idade"></label>
            <input type="text" asp-for="restricao_idade" class="form-control" />
            <span asp-validation-for="restricao_idade" class="alert-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="fileImage" class="control-label"></label>
            <div >
                <input asp-for="fileImage" type="file" id="customFile">
                <label class="custom-file-label" for="customFile">Escolha a imagem</label>
            </div>
            <span asp-validation-for="fileImage" class="text-danger"></span>
        </div>


        <div class="col-12 form-group">
            <label asp-for="TipoId"></label>
            <select class="form-control" asp-for="TipoId" asp-items="@ViewBag.listtipos">
                <option>Selecione um tipo.....</option>
            </select>
            <span asp-validation-for="TipoId" class="alert-danger"></span>
        </div>

        <div class="col-12 form-group">
            <input type="submit" class="btn btn-primary" value="Salvar" />
        </div>

        <span class="alert @ViewBag.classe">@ViewBag.mensagem</span>

    </div>
</form>



