﻿@model IEnumerable<EventoModel>
@{
    ViewData["Title"] = "listar";
}

<h1>listar</h1>

<span class="alert @ViewBag.classe">@ViewBag.mensagem</span>

<script>

function confirmExclusao(id) {
   if (confirm("Tem certeza que deseja excluir esse evento?")) {

       location.href ="/evento/delete/" + id;

   }
}
</script>

<a href="~/evento/cad" class="btn btn-info">
    Novo
</a>


<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Código</th>
            <th scope="col">Nome</th>
            <th scope="col">Duração</th>
            <th scope="col">Restrição de idade</th>
            <th scope="col">Cartaz</th>
            <th scope="col">Tipo</th>
            <th scope="col">Atores</th>
            <th scope="col">Sessões</th>
            <th scope="col">Alterar</th>
            <th scope="col">Excluir</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <th scope="row">@item.id</th>
                <td>@item.nome</td>
                <td>@item.duracao</td>
                <td>@item.restricao_idade</td>
                <td>
                  <img src="~/Cartazes/@item.cartaz" class="rounded-circle" height="40" width="40" asp-append-version="true" />
                </td>
                <td></td>
                <td>
                    <a href="~/ator/list/@item.id" class="btn btn-primary">
                        Atores
                    </a>
                </td>
                <td>
                    <a href="~/sessao/list/@item.id" class="btn btn-primary">
                        Sessões
                    </a>
                </td>
                <td>
                    <a href="~/evento/change/@item.id" class="btn btn-primary">
                        Alterar
                    </a>
                </td>
                <td>
                    <a href="#" class="btn btn-primary" onclick="confirmExclusao(@item.id)">
                        Excluir
                    </a>
                </td>
            </tr>
        }


    </tbody>
</table>


