﻿@model SalaModel
@{
    ViewData["Title"] = "cadastro";
}

<h1>cadastro</h1>

<form asp-action="save" asp-controller="Sala" method="post">
    <div class="row">
        <div class="col-12 form-group">
            <label asp-for="id"></label>
            <input readonly type="text" asp-for="id" class="form-control" />
            <span asp-validation-for="id" class="alert-danger"></span>
        </div>
        <div class="col-12 form-group">
            <label asp-for="nome"></label>
            <input type="text" asp-for="nome" class="form-control" />
            <span asp-validation-for="nome" class="alert-danger"></span>
        </div>


        <div class="col-12 form-group">
            <label asp-for="TamanhoId"></label>
            <select class="form-control" asp-for="TamanhoId" asp-items="@ViewBag.listtamanhos">
                <option>Selecione um tamanho.....</option>
            </select>
            <span asp-validation-for="TamanhoId" class="alert-danger"></span>
        </div>

        <div class="col-12 form-group">
            <input type="submit" class="btn btn-primary" value="Salvar" />
        </div>

        <span class="alert @ViewBag.classe">@ViewBag.mensagem</span>

    </div>
</form>



