﻿@model ProjectMVC2023.Models.UsuarioModel
@{
    ViewData["Title"] = "cadastro";
}

<h1>cadastro</h1>
<form asp-controller="Usuario" asp-action="save" method="post">
    <div class="row">
        <div class="col-12 form-group">
            <label asp-for="id"></label>
            <input readonly type="text" asp-for="id" class="form-control" />
            <span asp-validation-for="id" class="alert-danger"></span>
        </div>
        <div class="col-12 form-group">
            <label asp-for="nome"></label>
            <input type="text" asp-for="nome" class="form-control" />
            <span asp-validation-for="nome" class="alert-danger"></span>
        </div>
        <div class="col-12 form-group">
            <label asp-for="is_admin"></label>
            <input type="check_box" asp-for="is_admin" class="form-control" />
        </div>
        <div class="col-12 form-group">
            <label asp-for="is_event_manager"></label>
            <input type="check_box" asp-for="is_event_manager" class="form-control" />
        </div>
        <div class="col-12 form-group">
            <label asp-for="username"></label>
            <input type="text" asp-for="username" class="form-control" />
            <span asp-validation-for="username" class="alert-danger"></span>
        </div>
        <div class="col-12 form-group">
            <label asp-for="password"></label>
            <input type="text" asp-for="password" class="form-control" />
            <span asp-validation-for="password" class="alert-danger"></span>
        </div>
        <div class="col-12 form-group">
            <input type="submit" class="btn btn-primary" value="Salvar" />
        </div>
        
            <span class="alert @ViewBag.classe">@ViewBag.mensagem</span>
        
    </div>
</form>

