﻿@model IEnumerable<UsuarioModel>
@{
    ViewData["Title"] = "listar";
}

<h1>listar</h1>

<span class="alert @ViewBag.classe">@ViewBag.mensagem</span>

<script>

function confirmExclusao(id) {
   if (confirm("Tem certeza que deseja excluir esse usuário?")) {
    
       location.href ="/usuario/delete/" + id;
     
   }
}
</script>

<a href="~/usuario/cad" class="btn btn-info">
    Novo
</a>


<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Código</th>
            <th scope="col">Nome</th>
            <th scope="col">É administrador?</th>
            <th scope="col">É gerenciador de eventos?</th>
            <th scope="col">Nome de usuário</th>
            <th scope="col">Alterar</th>
            <th scope="col">Excluir</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <th scope="row">@item.id</th>
                <td>@item.nome</td>
                <td>@item.is_admin</td>
                <td>@item.is_event_manager</td>
                <td></td>
                <td>
                    <a href="~/usuario/change/@item.id"
                       class="btn btn-primary" >
                        Alterar
                    </a>
                </td>
                <td>
                    <a href="#"
                       class="btn btn-primary" onclick="confirmExclusao(@item.id)">
                        Excluir
                    </a>
                </td>
            </tr>
        }


    </tbody>
</table>
