﻿@model ProjectMVC2023.Models.SessaoModel
@{
    ViewData["Title"] = "cadastro";
}

<h1>cadastro</h1>
<form asp-controller="Sessao" asp-action="save" method="post">
    <div class="row">
        <div class="col-12 form-group">
            <label asp-for="id"></label>
            <input readonly type="text" asp-for="id" class="form-control" />
            <span asp-validation-for="id" class="alert-danger"></span>
        </div>
        <div class="col-12 form-group">
            <label asp-for="EventoId"></label>
            <input readonly type="text" asp-for="EventoId" class="form-control" />
            <span asp-validation-for="EventoId" class="alert-danger"></span>
        </div>
        <div class="col-12 form-group">
            <label asp-for="nome"></label>
            <input type="text" asp-for="nome" class="form-control" />
            <span asp-validation-for="nome" class="alert-danger"></span>
        </div>
        <div class="col-12 form-group">
            <label asp-for="valor"></label>
            <input type="text" asp-for="valor" class="form-control" />
            <span asp-validation-for="valor" class="alert-danger"></span>
        </div>
        <div class="col-12 form-group">
            <label asp-for="data_hora_inicio"></label>
            <input type="date" asp-for="data_hora_inicio" class="form-control" />
            <span asp-validation-for="data_hora_inicio" class="alert-danger"></span>
        </div>
        <div class="col-12 form-group">
            <label asp-for="data_hora_fim"></label>
            <input type="date" asp-for="data_hora_fim" class="form-control" />
            <span asp-validation-for="data_hora_fim" class="alert-danger"></span>
        </div>
        <div class="col-12 form-group">
            <label asp-for="SalaId"></label>
            <select class="form-control" asp-for="SalaId" asp-items="@ViewBag.listsalas">
                <option>Selecione uma sala.....</option>
            </select>
            <span asp-validation-for="SalaId" class="alert-danger"></span>
        </div>
        <div class="col-12 form-group">
            <input type="submit" class="btn btn-primary" value="Salvar" />
        </div>
        
            <span class="alert @ViewBag.classe">@ViewBag.mensagem</span>
        
    </div>
</form>

