﻿@model ProjectMVC2023.Models.DivisaoModel
@{
    ViewData["Title"] = "cadastro";
}

<h1>cadastro</h1>
<form asp-controller="Divisao" asp-action="save" method="post">
    <div class="row">
        <div class="col-12 form-group">
            <label asp-for="id"></label>
            <input readonly type="text" asp-for="id" class="form-control" />
            <span asp-validation-for="id" class="alert-danger"></span>
        </div>
        <div class="col-12 form-group">
            <label asp-for="nome"></label>
            <input type="text" asp-for="nome" class="form-control" />
            <span asp-validation-for="nome" class="alert-danger"></span>
        </div>
        <div class="col-12 form-group">
            <label asp-for="escala"></label>
            <input type="text" asp-for="escala" class="form-control" />
            <span asp-validation-for="escala" class="alert-danger"></span>
        </div>
        <div class="col-12 form-group">
            <label asp-for="restricao_idade"></label>
            <input type="text" asp-for="restricao_idade" class="form-control" />
            <span asp-validation-for="restricao_idade" class="alert-danger"></span>
        </div>
        <div class="col-12 form-group">
            <input type="submit" class="btn btn-primary" value="Salvar" />
        </div>
        
            <span class="alert @ViewBag.classe">@ViewBag.mensagem</span>
        
    </div>
</form>

